@model IEnumerable<AccountType>

@{
    ViewData["Title"] = "Tipos Cuentas";
}

<div class="d-flex flex-wrap justify-content-between align-items-center">
    <div>
        <h1 class="fs-4">Tipo de Cuentas</h1>
        <p class="fw-light">El tipo de cuenta se refiere a cómo podemos agrupar cuentas. Ejemplo: Préstamos, tarjetas de crédito, etc.</p>
    </div>

    <div class="d-flex justify-content-end mb-4">
        <a asp-action="Create" class="btn btn_primary mb-3 px-4">Crear nuevo</a>
    </div>
</div>

<table class="table table-sm table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th scope="col" class="py-2">Nombre</th>
            <th scope="col" class="py-2">Acciones</th>
        </tr>
    </thead>
    <tbody id="reorder">
        @foreach (var accountType in Model) {
            <tr>               
                <td>
                    @accountType.Name
                </td>
                <td class="col-sm-4 col-md-2">
                    <input type="hidden" value="@accountType.Id" class="ids" />
                    <a class="btn btn_primary" asp-action="Edit" asp-route-id="@accountType.Id"><i class="bi bi-pencil"></i></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@accountType.Id"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
<script>
    const urlOrder = '@Url.Action("order")'

    $(function () {
        $("#reorder").sortable({
            stop: async function (e, ui) {
                await updateOrders()
            }
        })

        async function updateOrders() {
            const ids = getElementsIds()
            await sendIdsBackend(ids)
        }

        function getElementsIds() {
            const ids = $(".ids").map(function () {
                return $(this).val()
            }).get()

            return ids
        }

        async function sendIdsBackend(ids) {
            var data = JSON.stringify(ids)

            await fetch(urlOrder, {
                method: 'POST',
                body: data,
                headers: {
                    'Content-Type': 'application/json'
                }
            })
        }
    })
</script>
}